<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638655727751-aveeur1uatk0lu36eq3qfnbn9u0bc440.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638655727751-aveeur1uatk0lu36eq3qfnbn9u0bc440</string>
	<key>API_KEY</key>
	<string>AIzaSyBylFN5jT7-IBOt8KTNQ_kIAufB5QUVxFM</string>
	<key>GCM_SENDER_ID</key>
	<string>638655727751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.felipeaugusto.Arquiteturas</string>
	<key>PROJECT_ID</key>
	<string>aulafirebird-c1ea8</string>
	<key>STORAGE_BUCKET</key>
	<string>aulafirebird-c1ea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638655727751:ios:14eae51416d99dca1b5022</string>
</dict>
</plist>